/**
 * @name Enfix
 * @author Addison Chua
 * @authorLink https://github.com/NotAddison
 * @version 0.0.1
 * @description A simple modern discord theme. Dark theme is required
 * @source https://github.com/NotAddison/Enfix
 * @website https://notaddison.github.io/Portfolio/
*/

@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');


/* ---------------- [ Horizontal Server List ]  ----------------*/
:root {
  --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
  --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
    /* Bottom HorizontalServerList. Simply remove the comments surrounding the @import to enable it. */
    /* @import url("https://discordstyles.github.io/Addons/bottomhsl.css"); */
}


/* ---------------- [ Radial Status ]  ----------------*/
:root {
    --rs-small-spacing: 2px;                      /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px;                     /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px;                      /* Gap between avatar and status for User profiles | MUST end in px */
  
    --rs-small-width: 1px;                        /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 2px;                       /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 3px;                        /* Thickness of status border for User profile | MUST end in px */
  
    --rs-avatar-shape: 50%;                       /* 50% for round - 0% for square */
  
    --rs-online-color: #43b582;                 /* Colour for online status */
    --rs-idle-color: #faa81a;                   /* Colour for idle status */
    --rs-dnd-color: #f04747;                    /* Colour for dnd status */
    --rs-offline-color: #636b75;                /* Colour for offline status */
    --rs-streaming-color: #643da7;              /* Colour for streaming status */
    --rs-invisible-color: #747f8d;              /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-color: var(--rs-online-color);     /* Colour of the ring and phone icon when a user is on their phone |  */
  
    --rs-phone-visible: block;                    /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  }
  #app-mount .wrapper-1VLyxH foreignObject[mask*=mobile]:after {
    position: absolute;
    width: 7px;
    height: 13px;
    top: 35%;
    right: 2px;
    background: var(--rs-phone-color, var(--rs-online-color));
    z-index: 1;
  }

  
/* ---------------- [ Main Theme ]  ----------------*/
:root{
    /* --font-primary: "Segoe UI", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    --font-display: "Bahnschrift", Ginto, "Pretendard SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    --font-korean: Pretendard, "Apple SD Gothic Neo", "NanumBarunGothic", "맑은 고딕", "Malgun Gothic", Gulim, 굴림, Dotum, 돋움, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-japanese: Whitney, Hiragino Sans, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-chinese-simplified: Whitney, "Microsoft YaHei New", 微软雅黑, "Microsoft Yahei", "Microsoft JhengHei", 宋体, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-chinese-traditional: Whitney, "Microsoft JhengHei", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft YaHei", 微軟雅黑, 宋体, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;

    /*My Account Button*/
    --username-button-width: 128px; /* Adjust the width of the username button to match your discord username lenght */
    --username-button-padding: 6px; /* Padding for the username button */
    --username-button-right-margin: 12px; /* Width between the username button and the window controls */
    --username-text-width: 100px; /* Adjust the width of the username text. (Just do minus 28 from the --username-button-width. */

    /*Server List*/
    --server-icon-size: 40px;  /* Size of the server icons */
    --server-outer-margin: 14px;  /* Spacing between the edge of the container and the server icons.*/
    --server-spacing: 10px;  /* Spacing between each server icon*/

    /*Server Info Bar*/
    --app-info-bar-height: 48px; /* Height for container that holds the server name, info, actions and search */
}

/* --- Main Friend List (Friend overview, who are online and stuff) --- */
/* 9. Friends */
.peopleColumn-1wMU14 {
	background-color: var(--background-primary);
}
.theme-dark .text-27cdrj, .theme-dark .title-2CL_z0 {
	color: var(--text); 
}
.wrapper-2RrXDg{
    border-style: none;
}

/* --- User Status --- */
.activity-2EQDZv,.header-2Kx1US,.item-3XjbnG,.name-28HaxV,.topic-11NuQZ,.usernameFont-2oJxoI {
    font-weight: 400
}

/* --- User Member List Username Text--- */
.name-3Vmqxm,.username-h_Y3Us {
    /* font-family: var(--font-display); */
    font-weight: 500
}

/* --- Channel Container --- */
.sidebar-1tnWFu{
    padding-left: 10px;
    padding-right: 10px;
}

/* --- Main Discord Theme--- */
.guild-profile,.theme-dark,.theme-dark .theme-light,.userInfo-regn9W,[aria-label="User Profile Modal"],[class^=profileBannerPreview],[class^=userPopout] {
    
    /* --- Main Feature Settings --- */
        --background-primary: #101010;                          /* Discord Background Colour*/
        --background-secondary-alt: transparent;                  /* Discord Main User Preview (Bottom Left ; Username, Mute, Deafend, Settings container)*/
        --background-tertiary: #101010;                         /* Discord Main Outer Border Colours (Server Selector background & Window bar) */
        --channeltextarea-background: #1e1e1e82;                /* Chat Box */
        --background-floating: #191919f1;                       /* Discord Server User Card & Popout options text background */

    /* --- Text Settings --- */
        --text-normal: #dedede;                                 /* Text Colour*/
        --text-muted: #787878;                                  /* Text Colour but for muted text*/
        --text-link: #00b0f4;                                   /* Text Colour for links*/
        --text-positive: #4fdc7b;                               /* Text Colour for positive text*/
        --embed-color: hsl(0, 0%, 34%);                         /* Embed Colour (???)*/
    

    /* --- Scrollbar Settings --- */
    /* >> Side channel scrollbar */
        --scrollbar-thin-thumb: #313131;
        --scrollbar-thin-track: transparent;
    /* >> Main Text Scrollbar */
        --scrollbar-auto-thumb: #313131;
        --scrollbar-auto-track: #24242455;
    
    /* --- Server Channel Settings --- */
        --channels-default: #919191;                            /* Active Channel Text Colour */
        --interactive-muted: #555555;                           /* Muted Text Colour */
        --header-primary: #fff;                                 /* Server Title */
        --header-secondary: #bdbdbd;                            /* Server Text Settings Colour & Channel Topic */
        --background-accent: hsl(0, 0%, 34%);                   /* Server Boost Small Icon (top right, beisde server name) */
        

    /* --- Server Interactable Buttons --- */
    --interactive-normal: #b0b0b0;                              /* Chat Gif Button, Pin Button, Thread Button, etc.*/
    --interactive-hover: #ffffff;                               /* Hover State */
    --interactive-active: rgb(255, 255, 255);                   /* Active State */
    
    
    --background-primary-transparent: rgba(26, 26, 26, 0.6);   
    --background-transparent-header: rgba(49, 49, 49, 0.5);
    
    /* --- Settings --- */
    --background-secondary: #161616a4;                          /* Settings Background & Member List Background & Plugin Header container */
    --activity-card-background: #242424;
    --background-modifier-hover: rgba(0, 0, 0, 0.2);
    --background-modifier-active: rgba(87, 87, 87, 0.24);
    --background-modifier-selected: rgba(100, 100, 100, 0.2);
    --background-modifier-accent: rgba(255, 255, 255, 0.2);
    
    
    /* >> Unknown Settings */
        --background-floating-alt: var(--background-tertiary);
        --background-mobile-primary: var(--background-tertiary);
        --background-mobile-secondary: var(--background-tertiary); 
        --background-secondary-alpha: var(--background-tertiary);

        --deprecated-quickswitcher-input-background: #191919b7;
        --deprecated-text-input-border-hover: #e30101;
        --deprecated-text-input-border-disabled: #e30101;
        --deprecated-text-input-prefix: #e30101;
}

.container-1Lk8p7 {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
  }



/* --- Light Theme Option 🤮 --- */
.theme-light {
    --background-primary: #000000; 
}

/* --- Popout Borders --- */
.FriendNotifications-modal:before,.container-1ILvLB:before,.container-2McqkF:before,.container-18GwIk:before,.container-2ebMPP:before,.drawerSizingWrapper-1txdWG:before,.menu-1QACrS:before,
.messagesPopoutWrap-3zryHW:before,.noiseCancellationPopout-2-e5Xz:before,.popoutContainer-2wbmiM:before,.profileBannerPreview-3_l0Wd:before,.root-g14mjS:before,.root-3bVOP7:before,
.root-8LYsGj:before,.streamPreview-3qoMP4:before,.toolbar-37BrJ5:before,.uploadModal-2ie9O_:before,.userPopout-2j1gM4:before,.wrapper-2vIMkT:before 
{
    border: 1px var(--background-modifier-accent) transparent;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: "";
    z-index: 2;
    pointer-events: none;
    border-radius: var(--context-menu-border-radius)
}

/* --- Search Bar --- */
#search-results {
    width: 320px !important
}

.searchResultsWrap-5RVOkx #search-results {
    width: unset !important
}

.search-2Mwzzq .DraftEditor-root .public-DraftEditor-content,
.search-2Mwzzq .DraftEditor-root .public-DraftEditorPlaceholder-root {
    padding-left: 8px;
    padding-bottom: 0;
    padding-top: 0
}

.searchAnswer-23w-CH,.searchFilter-2UfsDk {
    background-color: transparent !important
}

.searchAnswer-23w-CH span[data-text=true],.searchFilter-2UfsDk span[data-text=true] {
    background-color: var(--search-bar-cat);
    padding: 2px 4px;
    border-radius: 3px
}

/* ---------------- [ User Backgrounds ]  ----------------*/
#app-mount .userPopout-2j1gM4 .headerTop-3GPUSF {
    padding: 80px 16px 16px
}
.banner-1YaD3N {
    background-image: var(--user-background, inherit)
}
.phPromoBanner-3iexBk {
    margin: auto;
}
.auPromo-Gk5s48, .auPromoSelected-336Wc2,.badgeIconSettingsMenu-39c26C {
    display: none;
}
.localizeBadge-24ZXps {
    background-color: transparent;
}
.bannerNormal-22rPhb,html #app-mount .bannerNitroUpsell-3f4I57,html #app-mount .userPopout-2j1gM4 .popoutBanner-3cqRD9,html #app-mount .userPopout-2j1gM4 .profileBanner-1owKI5 {
    height: unset !important;
    max-height: unset !important
}
.banner-1YaD3N:before,.bannerNitroUpsell-3f4I57,.bannerNormal-22rPhb,.bannerNormal-22rPhb:before,.bannerPremium-kkSkPv,.bannerUploaderInnerSquare-1ddxpx:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: var(--context-menu-border-radius)
}
.UserBackgrounds-banner-container,.banner-1YaD3N,.bannerUploader-3AZuN1,.bannerUploaderInnerSquare-1ddxpx,.headerNormal-3Zn_yu,.popoutBannerPremium-3i5EEI {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: unset !important;
    height: unset !important
}
.banner-1YaD3N:hover .bannerOverlay-1uIerX,.banner-1YaD3N:hover .pencilIcon-z04-c5 {
    opacity: 0
}
.bannerOverlayPopout-1clJ34 {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2), inset 0 0 120px rgba(0, 0, 0, .6);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2), inset 0 0 120px rgba(0, 0, 0, .6);
    box-sizing: border-box
}
.profileBannerPreview-3_l0Wd .avatarUploaderHint-2ZdBlc,.profileBannerPreview-3_l0Wd .avatarUploaderIndicator-2G-aIZ,.profileBannerPreview-3_l0Wd .avatarUploaderInner-yEhTv5 [class^=fileInput],.profileBannerPreview-3_l0Wd .bannerUploaderInnerSquare-1ddxpx [class^=fileInput] {
    display: none !important
}
.avatarUploaderInner-yEhTv5:focus-within,.avatarUploaderInner-yEhTv5:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}
.avatarUploaderInner-yEhTv5,.bannerOverlay-1uIerX {
    pointer-events: none
}
html #app-mount .userPopout-2j1gM4 .avatarPositionPremium-1zPBq9 {
    top: 76px !important
}
.profileBannerPreview-3_l0Wd .headerTop-3GPUSF,.userInfo-regn9W,html #app-mount .userPopout-2j1gM4 .avatarPositionPremium-1zPBq9~.headerTop-3GPUSF {
    margin-top: 100px;
    position: relative
}
.background-3d_SjE,.popoutInfo-pKbpvG,.userInfo-regn9W {
    position: relative
}
.avatar-3mTjvZ {
    top: 0
}
.userInfo-regn9W {
    margin-bottom: 20px
}
.background-3d_SjE {
    border-radius: 8px;
    background-color: var(--background-secondary);
    padding: 16px;
    margin-top: 30px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px
}
html #app-mount .userPopout-2j1gM4 .avatarPositionNormal-2jWoC2 {
    top: 26px !important
}
.bannerNormal-22rPhb~.headerTop-3GPUSF,
html #app-mount .userPopout-2j1gM4 .avatarPositionNormal-2jWoC2~.headerTop-3GPUSF {
    margin-top: 50px
}
.headerTop-3GPUSF,.rolesList-3uZoaa,.headerTextNormal-2mGWX3,.customStatus-oN4ZZY,.aboutMeTitle-3pjiS7,customStatus-3XAoF9 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.avatarWrapperNormal-ahVUaC {
    position: absolute;
    left: 34%;
}
.profileBadges-2pItdR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    transform: translateY(-8px);
    position: absolute;
    transform: translate(-250px);
}
.userPopout-xaxa6l .input-cIJ7To,.aboutMeSection-PUghFQ,.bodyTitle-2Az3VQ,.textarea-_59yqs,.marginBottom8-AtZOdT.size14-e6ZScH,customStatus-3XAoF9 {
    text-align: center;
}
.profileBannerPreview-3_l0Wd {
    background-color: transparent
}
html #app-mount .userPopout-2j1gM4 .avatarPositionNormal-2jWoC2,html #app-mount .userPopout-2j1gM4 .avatarPositionPremium-1zPBq9 {
    margin-top: unset !important
}
.avatar-3mTjvZ,.avatar-2Vndt_,.avatar-3QF_VA,.avatarUploaderInner-Oiob_P {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .205))
}
.header-S26rhB {
    top: -75px
}
.nameTag-2Nlmsy.nameTag-H6kSJ0 {
    margin-top: 200px
}
.customStatusActivity-WKWGD- {
    position: relative
}
.banner-1YaD3N:after,.banner-1YaD3N:before,.bannerNormal-22rPhb:after,.bannerNormal-22rPhb:before,.bannerUploaderInnerSquare-1ddxpx:after,.bannerUploaderInnerSquare-1ddxpx:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}
.userPopout-2j1gM4 {
    width: 300px !important;
    position: relative
}
.banner-1YaD3N:after,.bannerNormal-22rPhb:after,.bannerUploaderInnerSquare-1ddxpx:after,[class^=bannerNitroUpsell] {
    background-image: inherit !important;
    background-color: inherit !important;
    --mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.15) 85%, rgba(0, 0, 0, 0.075) 90.5%, rgba(0, 0, 0, 0.037) 94.85%, rgba(0, 0, 0, 0.019) 98%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    height: 120px;
    width: 100%;
    pointer-events: none
}
.topSection-13QKHs .banner-1YaD3N:after {
    height: 260px
}
#app-mount .popoutBanner-3cqRD9::before,#app-mount .profileBanner-1owKI5::before,.banner-1YaD3N:before,.bannerNormal-22rPhb:before,.bannerUploaderInnerSquare-1ddxpx:before {
    bottom: 0;
    background: rgba(0, 0, 0, .493) !important;
    opacity: 1;
    backdrop-filter: blur(128px)
}
.banner-1YaD3N.profileBanner-1owKI5:after,.banner-1YaD3N:not(.user-background):not(.bannerPremium-kkSkPv):after,.bannerNormal-22rPhb:after {
    --gradient-size: 100%;
    --mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.3) calc(var(--gradient-size) * .5), rgba(0, 0, 0, 0.15) calc(var(--gradient-size) * .65), rgba(0, 0, 0, 0.075) calc(var(--gradient-size) * .755), rgba(0, 0, 0, 0.037) calc(var(--gradient-size) * .8285), rgba(0, 0, 0, 0.019) calc(var(--gradient-size) * .88), rgba(0, 0, 0, 0) var(--gradient-size));
    background-color: inherit;
    height: 240px
}
.banner-1YaD3N.profileBanner-1owKI5:before,.banner-1YaD3N:not(.user-background):not(.bannerPremium-kkSkPv):before,.bannerNormal-22rPhb:before {
    background-color: rgba(0, 0, 0, .35);
    backdrop-filter: brightness(.4) saturate(1)
}
.bodyInnerWrapper-2bQs1k,.footer-3naVBw {
    background-color: transparent
}
#app-mount .root-8LYsGj .profileBanner-1owKI5 {
    height: unset !important;
    max-height: unset !important
}
.UserBackgrounds-banner-container .UserBackgrounds-banner-badge {
    bottom: unset !important;
    position: absolute;
    top: 6px;
    right: 8px;
    background-color: rgba(32, 34, 37, .8) !important
}
.UserBackgrounds-banner-container .UserBackgrounds-banner-arrow,.UserBackgrounds-banner-container .UserBackgrounds-banner-badge {
    opacity: 0;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    -webkit-transition: opacity .15s ease-out, -webkit-transform .15s ease-out;
    transition: opacity .15s ease-out, -webkit-transform .15s ease-out;
    transition: opacity .15s ease-out, transform .15s ease-out;
    transition: opacity .15s ease-out, transform .15s ease-out, -webkit-transform .15s ease-out
}
.UserBackgrounds-banner-container:hover .UserBackgrounds-banner-arrow,.UserBackgrounds-banner-container:hover .UserBackgrounds-banner-badge {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.UserBackgrounds-banner-arrow {
    position: absolute;
    top: 0;
    z-index: 99;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box
}
.UserBackgrounds-banner-arrow.UserBackgrounds-banner-right {
    left: calc(32px + 8px);
    right: unset !important
}
.UserBackgrounds-banner-arrow.UserBackgrounds-banner-left {
    left: 8px !important
}
.UserBackgrounds-banner-arrow.sizeTiny-EgeIrh {
    width: 32px;
    height: 24px;
    min-width: 32px;
    min-height: 24px
}
.UserBackgrounds-banner-arrow svg {
    color: var(--interactive-normal)
}
.UserBackgrounds-banner-arrow:hover svg {
    color: var(--interactive-hover)
}

  /* --- {FIX} User Setting Information Background */
  .fieldList-in8WkP{
    background-color: transparent;
  }
  
